body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;

    height:100vh;
}

.container, div{
    text-align: center;
}

.game{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    width:200px;
    height:200px;
    border-radius: 5%;
}

.players{
    white-space:pre-line;
}

div{
    margin-bottom:10px;
}